.pokemon-info-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 100%;
}

.pokemon-info-app .pokemon-form label {
  display: block;
  text-align: center;
}

.pokemon-form small button {
  outline: none;
  background: none;
  border: none;
}

.pokemon-info-app .input-submit button {
  background-color: rgb(204, 8, 8);
  margin-left: 7px;
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.pokemon-info-app .input-submit input {
  padding: 4px;
}

.input-submit {
  margin-top: 5px;
}

button:hover {
  cursor: pointer;
}

label {
  font-size: 20px;
}